.body {
  background-color: rgb(245, 245, 245);
  height: 100%;
  width: 100vw;
}

.signupContainer {
  margin-top: 3rem;
}

.containerRegister {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 10px;
}
.inputDate {
  width: 5rem;
}

.inputDate::placeholder {
  text-align: center;
}

.loginTitle {
  font-weight: bold;
}
.loginAnchors {
  text-decoration: none;
}
